/* Start Designersblog.net Reset.css */
/* line 2, ../sass/partials/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/partials/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../sass/partials/reset.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/partials/reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/partials/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/partials/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../sass/partials/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Designersblog.net Reset.css */
/* line 4, ../sass/partials/layout.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #808080;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: small;
  color: #000;
}

/* line 14, ../sass/partials/layout.scss */
#map-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #add8e6;
}

/* line 24, ../sass/partials/layout.scss */
#slider-range {
  width: 358px;
  margin-top: 12px;
}

/* line 29, ../sass/partials/layout.scss */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 35, ../sass/partials/layout.scss */
.collapse-btn {
  position: absolute;
  cursor: pointer;
  top: 18px;
  z-index: 1;
}

/* line 42, ../sass/partials/layout.scss */
.expand-btn {
  position: absolute;
  cursor: pointer;
  top: 18px;
}
/* line 46, ../sass/partials/layout.scss */
.expand-btn img {
  box-shadow: 0px 0px 3px #333;
}

/* line 51, ../sass/partials/layout.scss */
#sidebar-minimized {
  position: absolute;
  top: 0px;
  right: 54px;
}

/* line 57, ../sass/partials/layout.scss */
#sidebar {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  margin: 0px;
  float: right;
  position: relative;
  padding: 0 18px;
  text-align: center;
  width: 410px;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
}

/* line 72, ../sass/partials/layout.scss */
#sidebar-title {
  margin-top: 18px;
  margin-bottom: 4px;
  font-family: "chunk", serif;
  font-size: 48px;
  color: #3f93b8;
  letter-spacing: .05em;
}

/* line 81, ../sass/partials/layout.scss */
#sidebar-subhead {
  margin-bottom: -10px;
  font-size: 12px;
  font-face: Arial, Helvetica, Geneva, sans-serif;
  color: #fff;
  letter-spacing: .12em;
  padding-bottom: 24px;
}

/* line 90, ../sass/partials/layout.scss */
#tabs-dates input {
  border: none;
  font-face: Arial, Helvetica, Geneva, sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 98px;
}

/* line 98, ../sass/partials/layout.scss */
#min {
  float: left;
  color: #aaa;
  font-face: Arial, Helvetica, Geneva, sans-serif;
  font-size: 14px;
  margin-top: 4px;
}

/* line 106, ../sass/partials/layout.scss */
#max {
  float: right;
  color: #aaa;
  font-face: Arial, Helvetica, Geneva, sans-serif;
  font-size: 14px;
  margin: 4px 4px 0 0;
}

/* line 114, ../sass/partials/layout.scss */
#tabs-director input {
  width: 358px;
  margin: auto;
}

/* line 119, ../sass/partials/layout.scss */
.filter {
  float: left;
  margin: 4px 0 12px 0;
  font-weight: 700;
}

/* line 125, ../sass/partials/layout.scss */
.input-hint {
  float: right;
  color: #aaa;
  font: Arial, Helvetica, Geneva, sans-serif;
  font-size: 12px;
  margin-top: 6px;
}

/* line 133, ../sass/partials/layout.scss */
#histogram-date, #histogram-director, #histogram-title {
  margin-top: 18px;
}

/* line 137, ../sass/partials/layout.scss */
#date-header {
  font-face: Arial, Helvetica, Geneva, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* line 145, ../sass/partials/layout.scss */
.table-header {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
  font: Arial, Helvetica, Geneva, sans-serif;
}
