*DS_Store*
*notes
index_01.html
index_foundation.html
temp*
images/foundation/*
javascripts/*
sass/*
themes/*
stylesheets/*
jquery*html
jqm*html
range_test.html
temp.html
template.html
test.js
google_slider.html
*.rb
css/partials/*